.content-container{
    color: white;
    margin-left: 20vw;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10vh;
}

.buttons-container{
    display: flex;
    justify-content: end;
    color: black;
    margin-left: 20vw;
    gap: 20px;
}

.button{
    background-color: antiquewhite;
    cursor: pointer;
}