.crsl{
    margin-top: 5vh;
    margin-left: 21vw;
    height: 60vh;
    width: 74vw;
}

@media only screen and (max-width:430px){
    .crsl{
        margin-top: 10vh;
        margin-left: 0;
        width: 100%;
        height: 26svh;
    }   
}