:root{
    --royalblue : #003566;
}

.sidebar-container{
    background-color: var(--royalblue);
    width: 15vw;
    height: 100vh;
    z-index: 1;
    position: fixed;
    color: whitesmoke;
    margin: 0;
    /* display: flex; */
    /* border: 1px solid red; */
}

.sidebar-wrapper{
    display: flex;
    margin: 20px;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    /* border: 1px solid blueviolet; */
}

.logo{
    width: 60%;
    /* border: 1px solid red; */
    margin-bottom: 20px;
}

hr{
    width: 12vw;
    height: 1px;
    margin: auto;
    color: whitesmoke;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar-navigation{
    /* border: 1px solid yellow; */
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 50px;
    color: black;
    width: 100%;
    text-align: center;
}

.home, .animes{
    /* background-color: antiquewhite; */
    color: whitesmoke;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 12px;
}

@media only screen and (max-width:430px){
    .sidebar-container{
        height: 10vh;
        width: 100%;
        /* border: 1px solid red; */
    }
    .sidebar-wrapper{
        margin: 0;
        flex-direction: row;
        height: inherit;
        /* border: 1px solid yellowgreen; */
    }
    
    .logo{
        margin: 0;
        width: 25%;
        height: 100%;
    }
    
    hr{
        display: none;
    }

    .sidebar-navigation{
        flex-direction: row;
        padding: 0;
        gap: 20px;
    }

    .home, .animes{
        font-size: 14px;
    }
}

@media only screen and (max-width:375px){
    .sidebar-navigation{
        gap: 8px;
    }

    .home, .animes{
        font-size: 12px;
    }
}